src/wadl/image-schemas-2.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-2.0.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
<!-- Useful for describing APIs -->
        <!ENTITY GET    '<command xmlns="http://docbook.org/ns/docbook">GET</command>'>
        <!ENTITY PUT    '<command xmlns="http://docbook.org/ns/docbook">PUT</command>'>
        <!ENTITY POST   '<command xmlns="http://docbook.org/ns/docbook">POST</command>'>
        <!ENTITY DELETE '<command xmlns="http://docbook.org/ns/docbook">DELETE</command>'>
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2.0" xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2" xmlns:common="http://docs.openstack.org/common/api/v1.0">
    <grammars>
        <include href="../../src/common/xsd/api.xsd"/>
        <include href="../../src/common/xsd/api-common.xsd"/>
        <include href="../../src/common/xsd/fault.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/" xml:id="images-schema-v2">
        <resource id="schemas" path="schemas">
            <!--<param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                    <doc>A valid authentication token</doc>
                </param>-->
            <!--Brain asked to not include this-->
            <resource id="Image-schemas" path="images">
                <method href="#getImagesSchema"/>
            </resource>
            <resource id="Image-schema" path="image">
                <method href="#getImageSchema"/>
            </resource>
            <resource id="Image-members-schemas" path="members">
                <method href="#getImageMembersSchemas"/>
            </resource>
            <resource id="Image-member-schema" path="member">
                <method href="#getImageMemberSchema"/>
            </resource>
            <resource id="Image-tasks-schemas" path="tasks">
                <method href="#getTasksSchemas"/>
            </resource>
            <resource id="Image-task-schema" path="task">
                <method href="#getTaskSchema"/>
            </resource>
        </resource>

    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Image Schema Operations -->
    <!-- List Images Schema -->
    <method name="GET" id="getImagesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get images schema">
            <para role="shortdesc">Gets a json-schema document that represents an image members entity, which is a container
                of image member entities.</para>
            <para>The following schema is just an example. Consider only the response to the API call as
                authoritative.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-images-get-response.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!-- Get Image Schema -->
    <method name="GET" id="getImageSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get image schema">
            <para role="shortdesc">Gets a json-schema document that represents a single image entity. </para>
            <para>The following schema is just an example. Consider only the response to the API call as
                authoritative.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-image-get-response.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!-- Image Member Schema Operations -->
    <!-- List Image Members Schema -->
    <method name="GET" id="getImageMembersSchemas">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get image members schema">
            <para role="shortdesc">Gets a json-schema document that represents an image members entity (a container of member
                entities).</para>
            <para>The following schema is just an example. Consider only the response to the API call as
                authoritative.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-image-members-get-response.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <!-- Get Image Member Schema -->
    <method name="GET" id="getImageMemberSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get image member schema">
            <para role="shortdesc">Gets a json-schema document that represents an image member entity.</para>
            <para>The following schema is just an example. Consider only the response to the API call as
                authoritative.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-image-member-get-response.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <!-- Task Schema Operations (need correct text and examples)-->
    <!-- List Tasks Schemas -->
    <method name="GET" id="getTasksSchemas">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get tasks schema">
            <para role="shortdesc">Gets a json-schema document that represents a container of tasks entities.</para>
            <para>This operation returns a list of task entities. The following response is just an example. Consider the
                response to the API call as authoritative.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-tasks-get-response.json"/>
                </doc>
            </representation>
        </response> &commonFaults; </method>

    <!-- Get Task Schema -->
    <method name="GET" id="getTaskSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get task schema">
            <para role="shortdesc">Gets a json-schema document that represents an task entity.</para>
            <para>This operation returns the specified task entity. The following response is just an example. Consider the
                response to the API call as authoritative.</para>
        </wadl:doc>
        <response status="200">
            <doc title="Success">Request succeeded.</doc>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-task-get-response.json"/>
                </doc>
            </representation>
        </response> &commonFaults; </method>

</application>
