src/wadl/image-schemas-2.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-2.0.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
<!-- Useful for describing APIs -->
        <!ENTITY GET    '<command xmlns="http://docbook.org/ns/docbook">GET</command>'>
        <!ENTITY PUT    '<command xmlns="http://docbook.org/ns/docbook">PUT</command>'>
        <!ENTITY POST   '<command xmlns="http://docbook.org/ns/docbook">POST</command>'>
        <!ENTITY DELETE '<command xmlns="http://docbook.org/ns/docbook">DELETE</command>'>
%common;
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02" 
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2.0" 
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:csapi="http://docs.openstack.org/image/api/v2.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    >
    
    <grammars>
        <include href="../../src/common/xsd/api.xsd"/>
        <include href="../../src/common/xsd/api-common.xsd"/>
        <include href="../../src/common/xsd/fault.xsd"/>
    </grammars>
<!--  
    <!-/-targetNamespace causes errors as attribute -/->
    targetNamespace="http://docs.openstack.org/image/api/v2.0" 
    <!-/- schemaLocation below cause errors as an attribute -/->
    xsi:schemaLocation="http://docs.openstack.org/image/api/v2.0 ../common/xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../common/xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd"
    >-->

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/">
        <resource id="info" path="v2">
            <resource id="schemas" path="schemas">
                <resource id="Image-schemas" type="#SchemasList" path="images">
                    <method href="#getImagesSchema"/>
                </resource>
                <resource id="Image-schema" type="#SchemaList" path="image">
                    <method href="#getImageSchema"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <method name="GET" id="getImagesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Images Schema">
            <para role="shortdesc">Gets a json-schema document that represents an images entity</para>
            <para>An images entity is a container of image entities. </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-images-get-response.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults;
    </method>
    
<!--    <method name="GET" id="getImageSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Image Schema">
            <para role="shortdesc">Gets a json-schema document that represents an image entity. </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-image-get-response.json"/>
                </doc>
            </representation>
        </response>  
    </method>-->
</application>
