src/wadl/image-schemas-2.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2013 OpenStack Foundation, All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent os-image-2.0.wadl               -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
<!-- Useful for describing APIs -->
        <!ENTITY GET    '<command xmlns="http://docbook.org/ns/docbook">GET</command>'>
        <!ENTITY PUT    '<command xmlns="http://docbook.org/ns/docbook">PUT</command>'>
        <!ENTITY POST   '<command xmlns="http://docbook.org/ns/docbook">POST</command>'>
        <!ENTITY DELETE '<command xmlns="http://docbook.org/ns/docbook">DELETE</command>'>
%common;
]>

<application 
    xmlns="http://wadl.dev.java.net/2009/02" xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xlink="http://www.w3.org/1999/xlink"  xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:imageapi="http://docs.openstack.org/image/api/v2.0" xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2" xmlns:common="http://docs.openstack.org/common/api/v1.0">
    <grammars>
        <include href="../../src/common/xsd/api.xsd"/>
        <include href="../../src/common/xsd/api-common.xsd"/>
        <include href="../../src/common/xsd/fault.xsd"/>
    </grammars>
 
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <resources base="https://glance.example.com/">
        <resource id="info" path="v2">
            <resource id="schemas" path="schemas">
                <resource id="Image-schemas" type="#SchemasList" path="images">
                    <method href="#getImagesSchema"/>
                </resource>
                <resource id="Image-schema" type="#SchemaList" path="image">
                    <method href="#getImageSchema"/>
                </resource>
                <resource id="Schemas-Image-members" type="#SchemasList" path="members">
                    <method href="#getSchemasImageMembers"/>
                </resource>
                <resource id="Schemas-Image-member" type="#SchemaList" path="member">
                    <method href="#getSchemasImageMember"/>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Get Images Schema -->
    <method name="GET" id="getImagesSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Images Schema">
            <para role="shortdesc">Gets a json-schema document that represents an images entity, which is a container of image 
                entities.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-images-get-response.json"/>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults;
    </method>
   
    <!-- Get Image Schema -->
    <method name="GET" id="getImageSchema">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Image Schema">
            <para role="shortdesc">Gets a json-schema document that represents a single image entity. </para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-image-get-response.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; 
    </method>
    
    <!-- Get Images Member Schema -->
    <method name="GET" id="getSchemasImageMembers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Schemas Image Members">
            <para role="shortdesc">Gets a json-schema document that represents an image members entity.</para>
            <para>An image members entity is a container of image member entities.</para>
            <para>The following schema is just an example. Consider only the response to the API call as authoritative.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-image-members-get-response.json"/>
                </doc>
            </representation>
        </response>
    </method>
    
    <!-- Get Image Member Schema -->
    <method name="GET" id="getSchemasImageMember">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Schemas Image Member">
            <para role="shortdesc">Gets a json-schema document that represents an image member entity.</para>
            <para>The following schema is just an example. Consider only the response to the API call as authoritative.</para>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../common/samples/schemas-image-member-get-response.json"/>
                </doc>
            </representation>
        </response>
    </method>
</application>
